export(
  CheckMixtureComponent,
  CheckProcessSpecification,
  ConditionalMixture,
  DirichletProcessMvn,
  FiniteMixture,
  HiddenMarkovModel,
  IndependentMvnMixtureComponent,
  InferMixtureComponentNames,
  LogitMixtureComponent,
  MarkovMixtureComponent,
  MarkovModulatedPoissonProcess,
  MultinomialMixtureComponent,
  MvnMixtureComponent,
  NormalMixtureComponent,
  PlotInitialStateDistribution,
  PlotMixingWeights,
  PlotMixtureParams,
  PlotProbabilityOfActivity,
  PlotStateProbabilities,
  PlotStateProbabilities,
  PlotTransitionProbabilities,
  PointProcess,
  PoissonMixtureComponent,
  PoissonProcessComponent,
  RegressionMixtureComponent,
  SimulateFakeClickstreamParams,
  WeeklyProfile,
  ZeroInflatedLognormalMixtureComponent,
  ZeroInflatedPoissonMixtureComponent,
  plot.FiniteMixture,
  plot.HiddenMarkovModel,
  HomogeneousPoissonProcess,
  WeeklyCyclePoissonProcess,
  SimulateWeeklyCyclePoissonProcess,
  AverageExposureTime,
  AverageEventRate
  )

S3method(plot, FiniteMixture)
S3method(plot, PointProcess)
S3method(plot, PointProcessDensity)
S3method(plot, HiddenMarkovModel)
S3method(plot, WeeklyProfile)

S3method(print, WeeklyProfile)

S3method(density, PointProcess)
S3method(length, PointProcess)


import(Boom, BoomSpikeSlab)

importFrom("graphics",
  "abline",
  "barplot",
  "boxplot",
  "layout",
  "legend",
  "par",
  "plot",
  "polygon",
  "rug")


importFrom("stats",
  ".getXlevels",
  "density",
  "model.matrix",
  "model.response",
  "plot.ts",
  "rgamma",
  "rpois",
  "runif",
  "sd",
  "var"
)

importFrom("utils", "head", "tail")

useDynLib(BoomMix, .registration = TRUE)
