contourpy==1.0.5
cycler==0.11.0
fonttools==4.43.0
kiwisolver==1.4.4
matplotlib==3.10.9
matplotlib-inline==0.2.1
numpy==2.4.4
packaging==22.0
pandas==3.0.2
patsy==1.0.2
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2022.1
scipy==1.17.1
seaborn==0.13.2
setuptools==75.1.0
six==1.16.0
wheel
tzdata==2024.2
