export(
  AddExternalLegend,
  AddSegments,
  Ar1CoefficientPrior,
  BetaPrior,
  BoxplotMcmcMatrix,
  BoxplotTrue,
  CheckMcmcMatrix,
  CheckMcmcVector,
  CompareDensities,
  CompareDynamicDistributions,
  CompareManyDensities,
  CompareManyTs,
  CompareVectorBoxplots,
  DirichletPrior,
  DiscreteUniformPrior,
  ExternalLegendLayout,
  GammaPrior,
  GaussianSuf,
  GenerateFactorData,
  InverseWishartPrior,
  IsEven,
  IsOdd,
  LognormalPrior,
  LogIntegratedGaussianLikelihood,
  MarkovPrior,
  MatchDataFrame,
  McmcMatrixReport,
  MvnDiagonalPrior,
  MvnGivenSigmaMatrixPrior,
  MvnIndependentSigmaPrior,
  MvnPrior,
  NormalInverseGammaPrior,
  NormalInverseWishartPrior,
  NormalPrior,
  PairsDensity,
  PlotDensityContours,
  PlotDynamicDistribution,
  PlotMacf,
  PlotManyTs,
  PlotUnitTestOutput,
  PointMassPrior,
  PoissonPrior,
  ReadUnitTestOutput,
  RegressionCoefficientConjugatePrior,
  RegressionSuf,
  RepList,
  RVectorFunction,
  ScaledMatrixNormalPrior,
  SdPrior,
  SuggestBurnLogLikelihood,
  ThinMatrix,
  TimeSeriesBoxplot,
  ToString,
  ToString.default,
  ToString.table,
  TraceProduct,
  TruncatedGammaPrior,
  UniformPrior,
  check.nonnegative.scalar,
  check.positive.scalar,
  check.probability.distribution,
  check.scalar.boolean,
  check.scalar.integer,
  check.scalar.probability,
  circles,
  dInverseWishart,
  dWishart,
  ddirichlet,
  dinvgamma,
  dmvn,
  histabunch,
  lmgamma,
  mscan,
  pinvgamma,
  qinvgamma,
  rdirichlet,
  rWishart,
  rinvgamma,
  rmvn,
  thin
)

importFrom(MASS, kde2d)
importFrom("grDevices", "gray")
importFrom("graphics", "abline", "axis", "axis.Date", "axis.POSIXct", "barplot",
           "box", "boxplot", "contour", "hist", "layout", "lcm", "legend",
           "lines", "mtext", "par", "plot", "points", "polygon", "segments",
           "strheight", "strwidth", "text", "title")
importFrom("stats", "acf", "density", "dgamma", "mahalanobis", "pgamma", "qgamma",
           "quantile", "rchisq", "rgamma", "rnorm", "sd")
importFrom("utils", "capture.output", "head", "tail")

S3method(ToString, default)
S3method(ToString, table)
